/* TABLET — 2 por linha */
@media (max-width: 999px) {
  .benefits-grid .benefit-card {
    flex: 0 1 calc(50% - 24px);
    max-width: calc(50% - 24px);
  }

  .info {
    gap: 50px;
  }

  .cards-clube{
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-cards-parceiros{
    flex-wrap: wrap;
  }

  .section-servicos-time{
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 769px) {
  .logo-ifood {
    width: 190px;
  }

  .logos-empresa {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .logos-empresa .gr-inovacao {
    border: none;
    padding-left: 0;
    padding-top: 5px;
  }

  .logos-empresa .vpa-logo {
    padding-right: 0;

  }

  .logos-empresa img {
    width: 115px;
  }

  .banner h1 {
    font-size: 35px;
  }

  .banner p {
    font-size: 16px;
  }

  .banner img {
    width: 250px;
    margin-bottom: -4px;
  }

  .benefits-grid .benefit-card {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .info {
    flex-direction: column;
    gap: 40px;
  }

  .card-info {
    text-align: center;
  }

  .card-info h3 {
    font-size: 25px;
  }

  .cards-clube img{
    width: 180px;
    margin: 20px 0px;
  }

  .cards-parceiros{
    width: 100%;
  }

  .cards-servicos{
    width: 100%;
  }

  /* Títulos na versão mobile */
  .clube-ifood h2,
  .ofertas-parceiros h3,
  .servicos-time h3{
    font-size: 30px;
  }
}

