/* TABLET — 2 por linha */
@media (max-width: 999px) {
  .benefits-grid .benefit-card {
    flex: 0 1 calc(50% - 24px);
    max-width: calc(50% - 24px);
  }

  .info{
    gap: 70px;
  }
}

@media screen and (max-width: 769px) {
  .header-flex img {
    width: 180px;
  }

  .banner h1 {
    font-size: 35px;
  }

  .banner p {
    font-size: 16px;
  }

  .banner img {
    width: 250px;
    margin-bottom: -5px;
  }

  .benefits-grid .benefit-card {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .info{
    flex-direction: column;
    gap: 50px;
  }

  .card-info{
    text-align: center;
  }

  .card-info h3{
    font-size: 35px;
  }
}
