* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --degrade: linear-gradient(to top, #42000d, #141414);
  --bordo: #4b002b;
  --bordo-light: #6c1840;
  --cinza-texto: #555;
  --branco: #fff;
  --verde: #3ce29d;
  --max-width: 1280px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fff;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 20px;
}

.names-sections{
  color: #da0565;
  font-weight: 500;
  border: 1px solid #da0565;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px;
  width: fit-content;
}

/* HEADER */
header {
  background: #141414;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-flex img {
  width: 250px;
}

.logo-ifood {
  filter: brightness(0) invert(1);
}
/* FIM HEADER */

/* BANNER */
.banner {
  background: var(--degrade);
  color: var(--branco);
  text-align: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.app-tela {
  margin-top: 50px;
  width: 300px;
  margin-bottom: -4px;
}

.banner h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 16px;
}

.banner p {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  opacity: 0.9;
}

.title-green {
  color: var(--verde);
}
/* FIM BANNER */

/* BENEFÍCIOS */
.benefits-section {
  padding: 50px 20px;
  text-align: center;
}

.benefits-section h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin: 10px 0px;
}

.benefits-section p.subtitle {
  text-align: center;
  font-size: 18px;
  color: var(--cinza-texto);
  max-width: 650px;
  margin: 0 auto 50px;
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* AQUI ESTAVA O PROBLEMA */
.benefits-grid .benefit-card {
  flex: 0 1 calc(25% - 24px);
  max-width: calc(25% - 24px);
}

.benefit-card {
  border: 1px solid #eee;
  border-radius: 14px;
  padding: 26px;
  background: #fff;
  text-align: left;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.benefit-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.benefit-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 14px;
}

.benefit-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.benefit-card p {
  font-size: 15px;
  color: var(--cinza-texto);
}
